/* Box Model Hack */
* {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

body {
     font-family: 'Poppins', sans-serif;
}

.bar {
     display: flex;
     align-items: center;
     padding: 5px 20px;
}

.logo {
     align-self: center;
}

/* Navbar */
.navbar {
     font-size: 15px;
     display: flex;
     padding: 16px;
     color: black;
}

.navbar-link {
     padding-right: 8px;
}

.navbar-items {
     display: flex;
     justify-content: flex-end;
}

.navbar-link-toggle {
     display: none;
}

nav {
     flex: 1;
     text-align: right;
}

nav ul {
     display: inline-block;
     list-style-type: none;
}

nav ul li {
     display: inline-block;
     margin-right: 20px;
}

.logo {
     width: 180px;
}

a {
     text-decoration: none;
     color: #555;
}

.container {
     margin: auto;
     padding-left: 15px;
     padding-right: 15px;
     height: 700px;
}

.top-page {
     background-color: rgb(190, 200, 210);
     background-image: linear-gradient(to right, transparent, 90%, rgb(190, 200, 210)), url('../images/chloes-nailpics/IMG_9859.jpg');
     height: 100vh;
     background-size: 950px;
     background-position: bottom left;
     background-repeat: no-repeat;
     padding: 0;

     /* used to prevent margin collapse */
     display: flow-root;
}

.row {
     display: flex;
     align-items: center;
     flex-wrap: wrap;
     justify-content: space-around;
     height: 500px;
}

.col-2 {
     background-color: rgb(190, 200, 210, 80%);
     border-radius: 5%;
     margin-top: 150px;
     padding: 25px;
     flex-basis: 60%;
     max-width: 500px;
}

.col-2 h1 {
     color: white;
     font-size: 80px;
     line-height: 60px;
     margin: 25px 0;
}

.title-container {
     width: 600px;
     flex-grow: 2;
}

/* .box {
     display: flex;
     justify-content: center;
     align-content: center;
     align-items: center;
     height: 500px;
} */

.product-category,
.about-category {
     padding: 0 10 vw;
     font-size: 40px;
     font-weight: 500;
     margin-bottom: 40px;
     text-transform: capitalize;
     text-align: center;
}

/* About Chlo section */
.artist-image img {
     width: 100%;
}

/* image slider */
.portfolio {
     /* background-color: rgb(190, 200, 210); */
     position: relative;
     overflow: hidden;
     padding: 20px;
}

.product-container {
     padding: 0 5vw;
     display: flex;
     overflow-x: auto;
     scroll-behavior: smooth;
     margin: 0 5%;
}

.product-container::-webkit-scrollbar {
     display: none;
}

.box {
     flex: 0 0 auto;
     height: 500px;
     margin-right: 20px;
}

.slide-img {
     position: relative;
     box-shadow: 3px 3px 12px rgba(0,0,0,0.2);
     border-radius: 10px;
     overflow: hidden;
     height: 450px;
     width: 350px;
}

.slide-img img {
     width: 100%;
     height: 100%;
     object-fit: cover;
}

.btn-container {
     display: flex;
     justify-content: center;
     align-items: center;
}

.pre-btn,
.nxt-btn {
     border: none;
     border-radius: 10%;
     margin-top: 33%;
     width: 5vw;
     height: 10%;
     position: absolute;
     top: auto;
     display: flex;
     justify-content: center;
     align-items: center;
     background: rgba(255, 255, 255, 0.5);
     cursor: pointer;
     z-index: 8;
}

.pre-btn {
     left: 10px;
     transform: rotate(180deg);
}

.nxt-btn {
     right: 10px;
}

.pre-btn img,
.nxt-btn img {
     opacity: 0.4;
}

.pre-btn:hover img,
.nxt-btn:hover img {
     opacity: 1;
}
/* 
.collection-container {
     width: 100%;
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     grid-gap: 10px;
 }
   
.collection {
     position: relative;
}
   
.collection img {
     width: 100%;
     height: 100%;
     object-fit: cover;
}
   
.collection:nth-child(3) {
     grid-column: span 2;
     margin-bottom: 10px;
} */

/******************************************
/* MEDIA QUERIES
/*******************************************/

@media only screen and (max-width: 700px) {
     .top-page {
          background-position: center;
     }

     /* Collaspable navbar */

     .bar {
          align-items: flex-end;
     }
     .navbar-items,
     .navbar {
          flex-direction: column;
     }

     .navbar-items {
          display: none;
     }

     .navbar-toggleshow {
          display: flex;
     }

     .navbar-link-toggle {
          align-self: flex-end;
          display: initial;
          position: absolute;
          cursor: pointer;
     }
}

@media only screen and (min-width: 1200px) {
     .row {
          position: relative;
     }
     .col-2 {
          background: none;
          position: absolute;
          left: 700px;
          top: 50px;
     }

     .top-page {
          height: 100vh;
     }
}

@media only screen and (min-width: 600px) {
     /* about me section */
     .aboutme-container {
          display: flex;
          justify-content: center;
          height: 450px;
     }

     .about-me {
          display: flex;
          justify-content: center;
          align-items: center;
          padding-left: 150px;
          padding-right: 150px;
     }

     .about-me-paragraph {
          display: flex;
          justify-content: center;
          align-items: center;
     }

     .about-me-paragraph p {
          width: 35%;
     }

     .about-category {
          width: 25%;
     }

     .artist-image {
          flex-grow: 2;
          display: flex;
     }

     .artist-image img{
          flex-grow: 2;
     }

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
